body {
    background-image: url("background.jpg");
    align-content: center;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

header{
    text-align: center;
}
section{
  max-width: 500px;
  margin: auto;
}